html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}
h3 {
  font-size: 1.8rem;
  color: white;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1.4rem;
}
body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #1b78e2;
}
.content {
  padding: 20px;
}
.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}
.cards {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 768px) {
  .card-ntu {
    grid-column: 1/3;
  }
}
.reading {
  font-size: 2.8rem;
}
.card h4{
  color: #3c3c3c;
}
.card-temp i {
  color: #e21b46;
}
.card-hum  i{
  color: #50a2ff;
}
.card-volt i {
  color: #ffb650;
}
.card-ntu i {
  color: #ffb650;
}
